certmgr/

#Terraform junk
**/.terraform/*
*.tfstate
*.tfstate.*
# Terraform plan artefacts (state already covered above)
*.tfplan
tfplan
plan-*.json
plan-*.txt
**/.terraform/
.terraform
.vscode/
**/*.zip

terraform/layers/*/.terraform/
terraform/layers/*/.terraform/*
*.csr
*.key
scripts/certs/

terraform/layers/account/files/slack_notify.zip
terraform/layers/cluster/files/get_sslcert.zip
terraform/modules/sns-alert/files/slack_notify.zip
terraform/layers/account/files/ses.zip
**.DS_STORE
**.zip
**/.idea
terraform/layers/account/files/foundry_poll/__pycache__
helmut.log
pytest_splunk_addon.log
terraform/layers/account/files/foundry_poll/certifi/__pycache__
terraform/layers/account/files/foundry_poll/chardet/__pycache__
terraform/layers/account/files/foundry_poll/idna/__pycache__
terraform/layers/account/files/foundry_poll/requests/__pycache__
terraform/layers/account/files/foundry_poll/urllib3/__pycache__
terraform/layers/account/files/foundry_poll/urllib3/contrib/__pycache__
terraform/layers/account/files/foundry_poll/urllib3/packages/__pycache__
terraform/layers/account/files/foundry_poll/urllib3/packages/ssl_match_hostname/__pycache__
terraform/layers/account/files/foundry_poll/urllib3/util/__pycache__
terraform/modules/cert_issuer/build/
__pycache__/
.venv/
site/

.infracost

# Real (un-redacted) personal deployment vars, never publish these.
**/vars/livehybrid.tfvars
**/vars/develop.tfvars
